<header class="header">
  <div class="left-nav">
    <a class="logo" href="/">Restaurant Name</a>
  </div>
  <% if (Object.keys(user).length) { %>
    <div class="right-nav">
      <% if (user.email === "owner@owner.com") { %>
        <a class="order_owners" href="/api/owner">Order</a>
        <a class="order_completed_link" href="/api/owner/order/complete">Order Completed</a>
        <a class="add_menu_link" href="/api/owner/menu/create">Add Menu</a>

      <% } else { %>
      <a href="javascript:void(0)" class="cart-container"">
        <i class="fa-solid fa-cart-shopping cart"><sup><span class="items_in_cart pl-1"></span></sup></i>
      </a>
      <a class="order_page_link" href="/api/menu">Menu</a>
      <a class="order_page_link" href="/api/menu/order">Orders</a>
      <% } %>
      <a class="logout_button" href="">Logout</a>
    </div>
  <% } %>
</header>

<script type="text/javascript" src="/scripts/logout.js"></script>
