body {
  display: flex;
  min-height: 100vh;
  min-width: 1250px;
  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

.links {
  position: relative  ;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: black;
  width: 100%;
  a {
    width: 50%;
    height: 100%;
    .main_photo {
      width: 100%;
      min-width: auto;
    }
  }
}
.main_text {
  color:rgb(181, 181, 0);
  font-size: 2em;
  font-weight: 600;
}

.main_text.customer{
  position: absolute;
  top: 50%;
  left: 25%;

}
.main_text.restaurant{
  position: absolute;
  top: 50%;
  right: 25%
}
