.menu-container {
  background-color: white;
}

.menu_item {
  height: 150px;
}

.menu_item_photo {
  height: 100%;
  width: auto;
}

.right-nav {
  display: flex;
  flex-direction: row;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.x-button {
  color: white;
  padding: 1em 0.5em 1em 0.5em;
  margin-left: 0.5em;

}

.x-button:hover {
  color: red;
}

.cart {
  color:white;
  float: right;
  font-size: 1.5em;
  padding-right: 0.5em;
  text-align: center;
}

.cart:hover {
  color: cornflowerblue;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  opacity: 50%;
  width: 25%;
  position: fixed;
  height: 100%;
  right: 0;
  transition: 0.5s;
}

.cart_item_id{
  flex-direction: row;
  width: 100%;
}

.total_price {
  padding-left: 1em;
}

.place_order_form {
  padding-top: 2em;
}

.flex-column {
  padding: 1em;
}

.menu_item_name {
  font-weight: 700;
}
