body {
  background: none;
  background-image: url("https://as1.ftcdn.net/v2/jpg/00/40/73/16/1000_F_40731613_p1NmiV7molm905HADFfymfDbZv75blxG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
}

.completed_page_title {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
  font-size: 45px;
  color: black;
}

.view_orders {
  display: flex;
  padding: 50px;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

.each_order {
  height: 310px;
  width: 400px;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  padding: 10px;
  background-color: white;
  background-image: url(https://thumbs.dreamstime.com/b/completed-sign-sticker-stamp-vector-texture-171675116.jpg);
  background-size: cover;

}

.each_order:hover {
  box-shadow: 5px 10px;
  cursor: pointer;
}

.id_name {
  display: flex;
  justify-content: space-around;
  border-style: double;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

.middle_part {
  height: 200px;
  border-style: double;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
  font-size: 17px;
}

.menu_total {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.menu_part {
  display: flex;
  flex-direction: column;
}

.total_part {
  display: flex;
  flex-direction: column;
}

.total_items {
  display: flex;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: square;
}
