.view_orders {
  display: flex;
  padding: 50px;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

.each_order {
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
}

.each_order:hover {
  box-shadow: 5px 10px;
  cursor: pointer;
}

.id_name {
  display: flex;
  justify-content: space-around;
  border-style: double;
  border-radius: 5px;
  padding: 5px;
}

.middle_part {
  border-style: double;
  border-radius: 5px;
  padding: 10px;
}

.menu_total {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  gap: 50px;
}

.total_part {
  display: flex;
  flex-direction: column;
}

.total_items {
  display: flex;
  justify-content: center;
}

.delete_form {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.delete:hover input {
  cursor: pointer;
  color: red;
}
