body {
  background: none;
}

.view_orders {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

.each_order {
  height: 380px;
  width: 400px;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  padding: 10px;
  background-color: white;
}

.each_order:hover {
  box-shadow: 5px 10px;
}

.id_name {
  display: flex;
  justify-content: space-around;
  border-style: double;
  border-radius: 5px;
  padding: 5px;
}

.middle_part {
  height: 230px;
  border-style: double;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
}

.menu_total {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.menu_part {
  display: flex;
  flex-direction: column;
}

.total_part {
  display: flex;
  flex-direction: column;
}

.total_items {
  display: flex;
  justify-content: center;
}

.decline_confirm {
  padding: 12px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.decline_input:hover input {
  cursor: pointer;
  color: red;
}

.confirm_order_form:hover input {
  cursor: pointer;
  color: blue;
}

.started_time {
  padding: 10px;
}

.complete_order_form {
  display: flex;
  justify-content: center;
}


.complete_order_form:hover input {
  cursor: pointer;
  color: green;
}
