body {
  background: none;
}

.view_orders {
  display: flex;
}

.view_orders {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.each_order {
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
}

.each_order:hover {
  box-shadow: 5px 10px;
}

.id_name {
  display: flex;
  justify-content: space-around;
  border-style: double;
  border-radius: 5px;
  padding: 5px;
}

.middle_part {
  border-style: double;
  border-radius: 5px;
  padding: 10px;
}

.menu_total {
  display: flex;
  padding: 10px;
  justify-content: center;
  gap: 50px;
}

.total_part {
  display: flex;
  flex-direction: column;
}

.total_items {
  display: flex;
  justify-content: center;
}

.decline_confirm {
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.decline_input:hover input {
  cursor: pointer;
  color: red;
}

.confirm_order_form:hover input {
  cursor: pointer;
  color: blue;
}

.started_time {
  padding: 10px;
}

.complete_order_form {
  display: flex;
  justify-content: center;
  padding: 5px;
}


.complete_order_form:hover input {
  cursor: pointer;
  color: green;
}
