body {
  background: none;
  background-image: url("https://as1.ftcdn.net/v2/jpg/00/40/73/16/1000_F_40731613_p1NmiV7molm905HADFfymfDbZv75blxG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
}

.order_page_title {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
  font-size: 45px;
  color: black;
}

.view_orders {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

.each_order {
  height: 380px;
  width: 400px;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  padding: 10px;
  background-color: white;
}

.each_order:hover {
  box-shadow: 5px 10px;
}

.id_name {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  border-style: double;
  border-radius: 5px;
  padding: 5px;
}

.middle_part {
  height: 230px;
  border-style: double;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
  font-size: 17px;
}

.menu_total {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.menu_part {
  display: flex;
  flex-direction: column;
}

.total_part {
  display: flex;
  flex-direction: column;
}

.total_items {
  display: flex;
  justify-content: center;
}

.decline_confirm {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.decline_input {
  height: 35px;
}
.decline_input:hover input {
  cursor: pointer;
}

.confirm_order_form:hover input {
  cursor: pointer;
  color: blue;
}

.started_time {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 17px;
}

.complete_order_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.complete_order_form:hover input {
  cursor: pointer;
  color: green;
}

ul {
  list-style-type: square;
}
